/* @import './base.css'; */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

#app {
  height: 100vh;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  font-weight: normal;
  font-family: Inter;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(190, 200, 196);
  border-radius: 999px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgb(126, 137, 132);
}
